h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.about_me {
    color: rgba(129, 54, 34, 0.891);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links
{
    color: rgb(36, 124, 47);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 160px;
    width: 350px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border:5px solid rgb(50, 100, 90);
    background-color: rgba(73, 205, 205, 0.804);
}
.logos
{
   width:65px;
   margin: 22px;
}
nav{
    width: screen;
    height: 60px;
    background-color: rgb(238, 238, 163);
    border: 3px solid rgba(236, 173, 121, 0.924);
    margin-left: 0%;
    margin-right: 0%;
}
.nav_button {
    width: 50px;
    height: 35px;
    border:3px solid rgb(50, 100, 90);
    border-radius: 20px;
    background-color:rgba(73, 205, 205, 0.804);
    margin: 10px;
    float: left;
    margin: right 50px;
    padding: 2px;
    font-size: smaller;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}