h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56;
}
p {
  height: fit-content;
  font-size: 21px;
  text-align: center;
}
h2 {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.about_me {
    color: rgba(90, 42, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links
{
    color: rgb(90, 42, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    height: 160px;
    width: 350px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border:5px solid rgb(50, 100, 90);
    border-radius: 5px; ;
    background-color: rgba(73, 205, 205, 0.804);
}
.logos
{
   width:65px;
   margin: 22px;
}
body {
    background-color: rgba(245, 245, 220, 0.795);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efeaa1;
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: rgb(90, 71, 2);
    text-align: center;
    padding: 20px 162px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
.nav li a:hover {
    background-color: rgb(41, 106, 26);
    color: rgb(223, 159, 74);
  }

.nav li a.active {
    background-color: rgb(41, 106, 26);
    color: rgb(255, 255, 255);
}

#intro {
  width: 500px;
  text-align: justify;
}
#content{
  text-align: justify;
  width: 75%;
}
#pictures {
  width:fit-content
}
